<!DOCTYPE html>
<html>

<head>
    <title>Facebook | Page Manager</title>
    <meta charset="UTF-8">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            if (response.status === 'connected') {
                window.location = '/home';
            }
        }
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '421576098604229',
                cookie: true, 
                xfbml: true, 
                version: 'v3.2'
            });
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
    <fb:login-button scope="public_profile,email,manage_pages" onlogin="checkLoginState();" data-size="large" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="true">
    </fb:login-button>
</body>

</html>