<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div class="row">

        <div class="col s3 teal">
            <ul id="sidenav-1" class="sidenav sidenav-fixed teal lighten-1  ">
                <br>
                <li class="white-text"><a class="subheader center">
                        <h5 class="white-text"><b>GROWTH PLUG</b></h5>
                    </a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <br>
                <li><a href="#"><span class="white-text">Dashboard</span></a></li>
                <li><a href="#"><span class="white-text">Website</span></a></li>
                <li><a href="#"><span class="white-text">Visitors</span></a></li>
                <li><a href="#"><span class="white-text">Review</span></a></li>
                <li class="active"><a href="/home"><span class="white-text">Listings</span></a></li>
                <li><a href="#"><span class="white-text">Appointments</span></a></li>
                <li><a href="#"><span class="white-text">Settings</span></a></li>
            </ul>
        </div>

        <div class="col s9 container" style="margin-top:0%;">
            <h4 class="center">Page Details</h4>
            <br>
            <hr>
            <div class="container white-text" style="padding-top: 2%;">
                <div class="card">
                    <div class="card-content center">
                        <span class="card-title">
                            <h5 class="center black-text">{{ page_details.name }}</h5>
                        </span>
                        <br>
                        <br>
                        <div class="row">
                            <div class="input-field container">
                                <input id="description" type="text" class="validate " value="{{ page_details.description }}">
                                <label for="description">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field container">
                                <input id="impressum" type="text" class="validate" value="{{ page_details.impressum }}">
                                <label for="impressum">Impressum</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field container">
                                <input id="about" type="text" class="validate" value="{{ page_details.about }}">
                                <label for="about">About</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field container">
                                <input id="phone" type="text" class="validate" value="{{ page_details.phone }}">
                                <label for="phone">Phone</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field container">
                                {% for email in page_details.emails %}
                                <input id="email" type="email" class="validate" value="{{ email }}">
                                <label for="email">E-mail</label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field container">
                                <input id="website" type="url" class="validate" value="{{ page_details.website }}">
                                <label for="website">Website</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field container">
                                <input id="company_overview" type="text" class="validate" value="{{ page_details.company_overview }}">
                                <label for="company_overview">Company Overview</label>
                            </div>
                        </div>
                        <button type="submit" class="btn orange black-text" id="edit">EDIT DETAILS</button>
                        <button type="submit" class="btn green white-text" id="save">SAVE DETAILS</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <input id="pageToken" name="pageToken" value="{{ page_token }}" hidden>
    <input id="pageId" name="pageId" value="{{ page_details.id }}" hidden>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            if (response.status === 'connected') {
                console.log(response);
            }
        }
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }
        window.fbAsyncInit = function () {
            FB.init({
                appId: '421576098604229',
                cookie: true,
                xfbml: true,
                version: 'v3.2'
            });
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $(document).ready(function () {
            document.getElementById("description").disabled = true;
            document.getElementById("impressum").disabled = true;
            document.getElementById("about").disabled = true;
            document.getElementById("phone").disabled = true;
            document.getElementById("website").disabled = true;
            document.getElementById("company_overview").disabled = true;
            document.getElementById("email").disabled = true;
            $("#save").hide();
        });
        $("#edit").click(function (e) {
            e.preventDefault();
            $("#edit").hide();
            $("#save").show();
            document.getElementById("description").disabled = false;
            document.getElementById("impressum").disabled = false;;
            document.getElementById("about").disabled = false;
            document.getElementById("phone").disabled = false;
            document.getElementById("website").disabled = false;
            document.getElementById("company_overview").disabled = false;
            document.getElementById("email").disabled = false;
        });

        function checkNull(parameter, Name) {
            if (parameter == "") {
                M.toast({ html: Name + " cannot be empty" });
                return false;
            } else {
                return true;
            }
        }

        function isUrlValid(userInput) {
            var res = userInput.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
            if (res == null) {
                M.toast({ html: "Enter a valid website url" });
                return false;
            }
            else
                return true;
        }

        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var res = email.match(re);
            if(res == null) {
                M.toast({ html: "Enter a valid email address" });
                return false;
            } else {
                return true;
            }
        }

        function phoneNumberValidate(number) {
            if (number.length == 10) {
                return true;
            } else {
                M.toast({ html: "Enter a valid 10 digit phone number" });
                return false;
            }
        }

        $("#save").click(function (e) {
            e.preventDefault();
            var description = $("#description").val();
            var impressum = $("#impressum").val();
            var about = $("#about").val();
            var phone = $("#phone").val();
            var website = $("#website").val();
            var company_overview = $("#company_overview").val();
            var email = $("#email").val();

            var descriptionCheck = checkNull(description, "Description");
            var impressumCheck = checkNull(impressum, "Impressum");
            var aboutCheck = checkNull(about, "About");
            var phoneCheck = checkNull(phone, "Phone");
            var websiteCheck = checkNull(website, "Website");
            var emailCheck = checkNull(email, "E-mail");
            var company_overviewCheck = checkNull(company_overview, "Company Overview")
            var phoneValidate = phoneNumberValidate(phone);
            var websiteUrlValidate = isUrlValid(website);
            var emailValidate = validateEmail(email);
            if (descriptionCheck && emailValidate && impressumCheck && emailCheck && aboutCheck && phoneCheck && websiteCheck && company_overviewCheck && phoneNumberValidate && websiteUrlValidate) {
                $.ajax({
                    type: "POST",
                    url: '/update',
                    data: {
                        pageId: $("#pageId").val(),
                        pageToken: $("#pageToken").val(),
                        description: description,
                        impressum: impressum,
                        about: about,
                        phone: phone,
                        website: website,
                        company_overview: company_overview,
                        email : email
                    },
                    success: function (data) {
                        if (data.success) {
                            location.reload();
                        }
                    }
                });
            }
        });
    </script>
</body>

</html>